@using ProntuarioEletronico.Domain.Enums;
@model ProntuarioEletronico.Domain.DTO.PatientDTO

<div class="text-light">
    <h1>Detalhes</h1>
    <h4>Detalhes do paciente - @Model.name no prontuário</h4>
    <hr />
</div>


<div class="row">
    <div class="col-md-4">
        <figure class="col-md-4">
            <img src="~/Upload/@Model.image" class="imgPerfilDetails" />
        </figure>
        <form asp-action="Edit" class="text-light">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label">Nome</label>
                <input asp-for="name" class="form-control" readonly />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label">Idade</label>
                <input asp-for="age" class="form-control" readonly />
                <span asp-validation-for="age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">E-mail</label>
                <input asp-for="email" class="form-control" type="email" readonly />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label">Telefone / Celular</label>
                <input asp-for="phone" class="form-control" readonly/>
                <span asp-validation-for="phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpf" class="control-label">CPF</label>
                <input asp-for="cpf" class="form-control" readonly />
                <span asp-validation-for="cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rg" class="control-label">RG</label>
                <input asp-for="rg" class="form-control" readonly />
                <span asp-validation-for="rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="sex" class="control-label">Sexo</label>
                <input asp-for="sex" class="form-control" readonly />
                <span asp-validation-for="sex" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="maritalStatus" class="control-label">estado Civil</label>
                <input asp-for="maritalStatus" class="form-control" readonly />
                <span asp-validation-for="maritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profession" class="control-label">Profissão</label>
                <input asp-for="profession" class="form-control" readonly />
                <span asp-validation-for="profession" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diagnosis" class="control-label">Diagnóstico</label>
                <textarea asp-for="diagnosis" class="form-control" readonly></textarea>
                <span asp-validation-for="diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cep" class="control-label">CEP</label>
                <textarea asp-for="cep" class="form-control" readonly></textarea>
                <span asp-validation-for="cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label">Endereço</label>
                <textarea asp-for="address" class="form-control" readonly></textarea>
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="number" class="control-label">Número</label>
                <textarea asp-for="number" class="form-control" readonly></textarea>
                <span asp-validation-for="number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complement" class="control-label">Complemento</label>
                <textarea asp-for="complement" class="form-control" readonly></textarea>
                <span asp-validation-for="complement" class="text-danger"></span>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn voltarLista" style="margin-top: 20px">Voltar a lista de pacientes</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }