@model ProntuarioEletronico.Web.Models.DTO.ImageField

<div class="text-light">
    <h1>Criar</h1>
    <h4>Adicionar imagem ao médico</h4>
    <hr />
</div>

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("ImagePost",
                              "Doctor",
                              FormMethod.Post,
                              new { enctype = "multipart/form-data" }))
        {                    
            <label for="file">Upload Image:</label>
            <input type="hidden" name="idImage" asp-for="IdImageField" id="idImage" />
            <input type="file" name="imageDoctor" id="imageDoctor" class="form-control" />
                    <br>
                    <br>
                    <input type="submit" value="Adicionar imagem" class="btn btnCreate" />
                    <br>

                <br>  
            @ViewBag.Message  
        }
    </div>
</div>

<div>
    <a asp-action="Index" class="btn voltarLista">Voltar a lista de médicos</a>
</div>