html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 0px;
  background-color: #007a55;
}

/* _Layout */

.bg-header {
    background-color: #60ca99;
}

.navbar-header {
    color: #dedede;
}

.border-decoration {
    border: 1px solid #fff;
}

/* Home */
.cardNoticias {
    margin-top: 60px;
}

.noticias {
    margin-top: 60px;
    text-align: center;
    background-color: #fff;
    padding: 30px;
    color: #007a55;
}

.noticias h2 {
    font-size: 50px;
    padding-bottom: 30px;
}

.noticias iframe {
    border: 5px solid #60ca99;
    border-radius: 15px;
}

.faleConosco {
    position: fixed;
    bottom: 20px;
    right: 20px
}

.imgFaleConosco {
    background-color: #fff;
    padding: 10px;
    border-radius: 100%;
    width: 100px;
}

/* Footer */
.rodape {
    margin-top: 60px;
    background-color: #60ca99;
}

.footerCopyright {
    background-color: rgba(0, 0, 0, 0.2);
}

/* Table */
.text-green {
    color: #007a55;
    font-weight: bold;
}

.tables {
    border-radius: 5px;
}


/* Button */
.btnCreate {
    background-color: #fff;
    border: 3px solid #60ca99;
    margin: 50px 0;
    width: 100%;
    color: #007a55;
    transition: .5s;
}

.btnCreate:hover {
    background-color: #60ca99;
    border: 3px solid #fff;
    margin: 50px 0;
    width: 100%;
    color: #fff;
    transition: .8s;
}

.btnDetails {
    margin-right: 10px;
    background-color: #60ca99;
    color: #fff;
    border: 3px solid #007a55;
    transition: .5s;
}

.btnEdit {
    margin-right: 10px;
    background-color: #007a55;
    color: #fff;
    border: 3px solid #60ca99;
    transition: .5s;
}

.btnDelete {
    margin-right: 10px;
    background-color: #60ca99;
    color: #fff;
    border: 3px solid #007a55;
    transition: .5s;
}

.btnImage {
    background-color: #007a55;
    color: #fff;
    border: 3px solid #60ca99;
    transition: .5s;
}

.btnDetails:hover {
    margin-right: 10px;
    background-color: #fff;
    color: #60ca99;
    border: 3px solid #007a55;
}

.btnEdit:hover {
    margin-right: 10px;
    background-color: #fff;
    color: #007a55;
    border: 3px solid #60ca99;
}

.btnDelete:hover {
    margin-right: 10px;
    background-color: #fff;
    color: #60ca99;
    border: 3px solid #007a55;
}

.btnImage:hover {
    background-color: #fff;
    color: #007a55;
    border: 3px solid #60ca99;
}

/* Image */

.imgPerfil {
    width: 100px;
    height: 100px;
    align-items: center;
}