@model IEnumerable<ProntuarioEletronico.Domain.DTO.MedicalPlanDTO>

<p>
    <a class="btn btn-primary" asp-action="Create">New Category</a>
</p>

<table id="table-medicalPlan" class="display" style="width:100%">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Plano</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var medicalPlan in Model)
            {
                <tr>
                    <td scope="row">@medicalPlan.id</td>
                    <td>@medicalPlan.plan</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" asp-action="Edit" asp-route-id="@medicalPlan.id">Edit</a> |
                            <a class="btn btn-danger" href="#" onclick="deleteMedicalPlan(@medicalPlan.id)">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr class="odd">
                <td valign="top" colspan="5">
                    Nenhum usuário encontrado
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        const deleteMedicalPlan = (id) => {
            msgModalMessage(`Deseja excluir o convênio ${id}?`, () => {
                $.ajax({
                    url: `@Url.Action("Delete")`,
                    method: 'POST',
                    data: {
                        id: id
                    },
                    success: (resp) => {
                        if(resp.code == '200') {
                            liveToastMessage(`O registro ${id} foi excluído com sucesso`, 'MedicalPlan');
                            setTimeout(() => {window.location.reload();}, 4000);
                        }
                    }
                });
                closeModalMessage();
            });
        }
    </script>
}